@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&family=Mochiy+Pop+P+One&family=PT+Sans+Narrow:wght@700&family=Rowdies&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Mochiy Pop P One', sans-serif;
}

li, a {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252A;
}   

.nav-btn {
    list-style: none;
}

.nav-btn li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-btn li a {
    transition: all 0.3s ease 0s;
}

.nav-btn li a:hover {
    color: #08c0ee
}

.main-box {
    width: 100%;
    color: black;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.personal h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.personal .personal-container .personal-box {
    background: white;
    overflow: hidden;
    cursor: pointer;
}

.personal .personal-container .personal-box img {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: 20rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    transition: .2s linear;
}

.personal .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.personal .popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.personal .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid white;
    width: 1000px;
    object-fit: cover;
}